
@{
    string name = "Fabio";
    string lastName = "Moro";

    DateTime thisDay = DateTime.Now;

    List<int> Lista = new List<int>();

    int randomNumber;

    for(int i =0; i < 20; i++) {
        randomNumber = new Random().Next(90);
        Lista.Add(randomNumber);
    }


    int SommaNumeri(int n) {

        int somma = 0;

        for(int i = 1; i <= n; i++) {
            somma = somma + i;
        }

        return somma;
    }

    int ContaLettera() {

        int cont = 0;

        string sentence = "nel mezzo del cammin di nostra vita";

        for(int i = 0; i < sentence.Length; i++) {
            if(sentence[i].CompareTo('a') == 0) {
                cont = cont + 1;
            }
        }

        return cont;
    }

}

 <h2>Esercizio 1: @name @lastName</h2>
 <h2>Esercizio 2:</h2> <span>@SommaNumeri(10)</span>
 <h2>Esercizio 3: @ContaLettera()</h2>
 <h2>Esercizio 4: </h2>
 @foreach(int numero in Lista) {
     @if(numero >= 20 & numero < 70) {
         <span>@numero</span>
     }
 }

<h2>Esercizio 5: </h2>
<span>@thisDay</span>
 




