@{
    Layout = null;
    var names = new string[] { "Margherita", "Napoli", "Diavola" };
    var descriptions = new string[] { "Mozzarella e Pomodoro", "Mozzarella, Pomodoro e Alici", "Salame piccante" };
    var images = new string[] { "https://www.tavolartegusto.it/wp/wp-content/uploads/2020/05/Pizza-napoletana-Ricetta-della-Pizza-Napoletana-Pizza-Margherita.jpg", "https://www.donnamoderna.com/content/uploads/2021/08/pizza-napoli.jpg", "https://www.misya.info/wp-content/uploads/2007/08/Pizza-alla-diavola.jpg" };
    var prices = new double[] { 4.99, 5.99, 6.99 };
}

<div class="margherita">
    <div>@names[0]</div>
    <div>@descriptions[0]</div>
    <image src="@images[0]" style="width: 200px;"></image>
    <div>@prices[0]</div>
</div>

<div class="napoli">
    <div>@names[1]</div>
    <div>@descriptions[1]</div>
    <image src="@images[1]" style="width: 200px;"></image>
    <div>@prices[1]</div>
</div>

<div class="diavola">
    <div>@names[2]</div>
    <div>@descriptions[2]</div>
    <image src="@images[2]" style="width: 200px;"></image>
    <div>@prices[2]</div>
</div>
